.mixin.out
backups
bluemap
crash-reports
blueprints
defaultconfigs
downloads
local
logs
modernfix
patchouli_books
saves
schematics
screenshots
xaero
XaeroWaypoints*
.qmenu_opened.marker
emi.json
hotbar.nbt
minecraftinstance.json
patchouli_data.json
profile.txt
rhino.local.properties
servers.dat
servers.dat_old
TrashSlotSaveState.json
usercache.json 
usernamecache.json